.fi {
    font-family: file-icons;
    font-size: 15px;
}

.fa {
    font-family: font-awesome;
    font-size: 15px;
}

.fas {
    font-family: font-awesome-solid;
    font-size: 15px;
}

@mixin sharpen() {
    text-shadow: 0 0 0;
}

@mixin thicken() {
    -webkit-font-smoothing: subpixel-antialiased;
}

@mixin test-file() {
    top: 3px;
    font-size: 17px;
}

.fi--1c:before            { content: "\a5ea"; top: 3px; font-size: 16px; }
.fi--1c-alt:before        { content: "\ea28"; top: 3px; font-size: 16px; }
.fi--abap:before          { content: "\e92b"; top: 2px; }
.fi--abif:before          { content: "\ea4e"; top: 3px; font-size: 16px; }
.fi--access:before        { content: "\e9ea"; top: 2px; }
.fi--ada:before           { content: "\e90b"; top: 3px; font-size: 17px; }
.fi--ae:before            { content: "\e9f3"; top: 2px; }
.fi--ahk:before           { content: "\e932"; top: 2px; }
.fi--ai:before            { content: "\e6b4"; top: 2px; }
.fi--alex:before          { content: "\29cb"; top: 4px; font-size: 16px; @include thicken(); }
.fi--alloy:before         { content: "\e935"; top: 2px; }
.fi--alpine:before        { content: "\e9ff"; top: 2px; font-size: 16px; }
.fi--ampl:before          { content: "\e94e"; top: 3px; font-size: 16px; left: 1px; }
.fi--amx:before           { content: "\e99b"; top: 3px; font-size: 16px; }
.fi--angelscript:before   { content: "\ea5b"; top: 4px; font-size: 18px; left: -2px; transform: scale(1.3); @include sharpen(); }
.fi--ansible:before       { content: "\24b6"; top: 2px; }
.fi--ant:before           { content: "\e93e"; top: 4px; font-size: 18px; transform: scale(1.1); }
.fi--antlr:before         { content: "\e92c"; top: 3px; }
.fi--antwar:before        { content: "\2591"; top: 3px; font-size: 16px; }
.fi--api:before           { content: "\e92d"; top: 2px; }
.fi--apl:before           { content: "\234b"; top: 2px; }
.fi--apple:before         { content: "\e925"; top: 1px; }
.fi--appveyor:before      { content: "\e923"; top: 2px; }
.fi--arc:before           { content: "\e92f"; top: 2px; }
.fi--arduino:before       { content: "\e930"; top: 3px; font-size: 16px; }
.fi--arttext:before       { content: "\24d0"; top: 2px; }
.fi--as:before            { content: "\e92e"; top: 1px; font-size: 14px; }
.fi--asciidoc:before      { content: "\e918"; top: 1px; font-size: 14px; }
.fi--atoum:before         { content: "\2649"; top: 2px; font-size: 16px; }
.fi--ats:before           { content: "\e934"; top: 2px; }
.fi--audacity:before      { content: "\e9f9"; top: 2px; }
.fi--augeas:before        { content: "\e931"; top: 2px; }
.fi--aurelia:before       { content: "\ea48"; top: 2px; }
.fi--autoit:before        { content: "\e933"; top: 2px; font-size: 16px; }
.fi--avro:before          { content: "\eaa3"; top: 4px; font-size: 16px; left: 1px; transform: scale(1.2); }
.fi--babel:before         { content: "\e91f"; top: 2px; left: 1px; }
.fi--bazel:before         { content: "\ea5a"; top: 1px; font-size: 16px; @include sharpen(); }
.fi--behat:before         { content: "\ea89"; top: 2px; }
.fi--bem:before           { content: "\ea59"; top: 2px; }
.fi--bibtex:before        { content: "\e601"; top: 2px; font-size: 16px; @include thicken(); }
.fi--bintray:before       { content: "\ea6e"; top: 2px; }
.fi--bithound:before      { content: "\ea2a"; top: 2px; }
.fi--blender:before       { content: "\e9fa"; top: 2px; }
.fi--bluespec:before      { content: "\e93c"; top: 1px; font-size: 13px; left: 1px; }
.fi--boo:before           { content: "\e939"; top: 2px; }
.fi--boot:before          { content: "\f103"; top: 2px; font-size: 16px; }
.fi--brain:before         { content: "\e93a"; top: 2px; }
.fi--brakeman:before      { content: "\e9d6"; top: 2px; }
.fi--bro:before           { content: "\e93b"; top: 3px; font-size: 16px; }
.fi--broccoli:before      { content: "\e922"; top: 1px; font-size: 14px; }
.fi--brotli:before        { content: "\eaa2"; top: 2px; }
.fi--browserslist:before  { content: "\ea80"; top: 2px; }
.fi--browsersync:before   { content: "b";     top: 2px; }
.fi--brunch:before        { content: "\ea47"; top: 3px; font-size: 17px; left: -1px; }
.fi--buck:before          { content: "\ea46"; top: 2px; }
.fi--bundler:before       { content: "\ea45"; top: 2px; font-size: 16px; }
.fi--byond:before         { content: "\e962"; top: 2px; }
.fi--cabal:before         { content: "\e9c2"; top: 2px; }
.fi--caddy:before         { content: "\ea58"; top: 2px; }
.fi--caffe:before         { content: "\ea9a"; top: 3px; font-size: 17px; }
.fi--caffe2:before        { content: "\eab6"; top: 2px; }
.fi--cake:before          { content: "\e9e3"; top: 2px; }
.fi--cakefile:before      { content: "\e924"; top: 2px; }
.fi--cakephp:before       { content: "\ea43"; top: 2px; }
.fi--carthage:before      { content: "\ea98"; top: 2px; }
.fi--cc:before            { content: "\e9d5"; top: 2px; font-size: 16px; }
.fi--ceylon:before        { content: "\e94f"; top: 2px; }
.fi--cf:before            { content: "\e929"; top: 2px; }
.fi--chai:before          { content: "c";     top: 3px; font-size: 16px; }
.fi--chapel:before        { content: "\e950"; top: 2px; }
.fi--chartjs:before       { content: "\ea0b"; top: 2px; }
.fi--chef:before          { content: "\ea42"; top: 2px; }
.fi--chuck:before         { content: "\e943"; top: 2px; }
.fi--circleci:before      { content: "\ea12"; top: 2px; font-size: 14px; }
.fi--cirru:before         { content: "\e951"; top: 2px; @include sharpen(); }
.fi--cl:before            { content: "\e972"; top: 2px; @include sharpen(); }
.fi--clarion:before       { content: "\e952"; top: 1px; font-size: 14px; left: 1px; }
.fi--clean:before         { content: "\e95b"; top: 2px; font-size: 16px; }
.fi--click:before         { content: "\e95c"; top: 2px; }
.fi--clips:before         { content: "\e940"; top: 3px; font-size: 18px; }
.fi--cljs:before          { content: "\f104"; top: 2px; }
.fi--closure-tpl:before   { content: "\ea82"; top: 2px; }
.fi--cmake:before         { content: "\e93f"; top: 1px; font-size: 14px; }
.fi--cobol:before         { content: "\ea44"; top: 2px; font-size: 16px; }
.fi--cocoapods:before     { content: "\ea97"; top: 2px; }
.fi--codacy:before        { content: "\ea8b"; top: 2px; }
.fi--codecov:before       { content: "\2602"; top: 2px; }
.fi--codekit:before       { content: "\ea41"; top: 2px; }
.fi--codeship:before      { content: "\ea6a"; top: 2px; }
.fi--composer:before      { content: "\e683"; top: 3px; font-size: 17px; }
.fi--config:before        { content: "\f07c"; top: 2px; font-size: 14px; }
.fi--conll:before         { content: "\eaa6"; top: 2px; }
.fi--coq:before           { content: "\e95f"; top: 2px; font-size: 16px; left: 1px; }
.fi--cordova:before       { content: "\ea11"; top: 2px; }
.fi--corel:before         { content: "\ea91"; top: 3px; font-size: 16px; }
.fi--coreldraw:before     { content: "\ea90"; top: 2px; }
.fi--cp:before            { content: "\e942"; top: 3px; font-size: 17px; }
.fi--cpan:before          { content: "\ea87"; top: 2px; }
.fi--creole:before        { content: "\e95e"; top: 2px; }
.fi--crystal:before       { content: "\e902"; top: 2px; left: 1px; }
.fi--csound:before        { content: "\e9f0"; top: 2px; }
.fi--csscript:before      { content: "\e9e2"; top: 2px; }
.fi--cucumber:before      { content: "\f02b"; top: 3px; }
.fi--curl:before          { content: "/";     top: 3px; font-size: 16px; }
.fi--cwl:before           { content: "\29d9"; top: 2px; font-size: 16px; }
.fi--cython:before        { content: "\e963"; top: 2px; }
.fi--d3:before            { content: "\ea10"; top: 2px; }
.fi--darcs:before         { content: "\e964"; top: 2px; }
.fi--dashboard:before     { content: "\f07d"; top: 2px; font-size: 13px; }
.fi--dataweave:before     { content: "\ea99"; top: 2px; }
.fi--dbase:before         { content: "\e9f1"; top: 2px; }
.fi--dna:before           { content: "\2624"; top: 2px; font-size: 16px; }
.fi--default:before       { content: "\1f5cc";top: 2px; font-size: 14px; }
.fi--image:before         { content: "\f012"; top: 2px; font-size: 14px; }
.fi--delphi:before        { content: "\ea40"; top: 2px; font-size: 16px; }
.fi--devicetree:before    { content: "\ea57"; top: 2px; font-size: 17px; @include sharpen(); }
.fi--dia:before           { content: "\eab5"; top: 2px; }
.fi--diff:before          { content: "\e960"; top: 2px; }
.fi--docker:before        { content: "\f106"; top: 3px; font-size: 18px; }
.fi--doclets:before       { content: "\ea3f"; top: 2px; }
.fi--doge:before          { content: "\e946"; top: 2px; }
.fi--doxygen:before       { content: "\e928"; top: 1px; font-size: 13px; }
.fi--dragula:before       { content: "\1f44c";top: 3px; font-size: 17px; }
.fi--drone:before         { content: "\ea3d"; top: 2px; }
.fi--dyalog:before        { content: "\e90c"; top: 1px; font-size: 14px; left: 1px; }
.fi--dylib:before         { content: "\ea15"; top: 2px; }
.fi--e:before             { content: "E";     top: 1px; font-size: 14px; }
.fi--eagle:before         { content: "\e965"; top: 2px; }
.fi--easybuild:before     { content: "\ea85"; top: 2px; }
.fi--ec:before            { content: "\e9c9"; top: 2px; }
.fi--ecere:before         { content: "\e966"; top: 3px; font-size: 16px; }
.fi--editorconfig:before  { content: "\ea1b"; top: 3px; }
.fi--edge:before          { content: "\ea78"; top: 2px; }
.fi--eiffel:before        { content: "\e967"; top: 2px; font-size: 16px; }
.fi--ejs:before           { content: "\ea4b"; top: 3px; font-size: 16px; }
.fi--electron:before      { content: "\ea27"; top: 3px; font-size: 16px; @include sharpen(); }
.fi--elm:before           { content: "\f102"; top: 2px; }
.fi--em:before            { content: "\e968"; top: 3px; font-size: 16px; }
.fi--emacs:before         { content: "\e926"; top: 2px; }
.fi--ember:before         { content: "\e61b"; top: 2px; font-size: 14px; }
.fi--eq:before            { content: "\ea0a"; top: 5px; }
.fi--esdoc:before         { content: "\ea5c"; top: 2px; }
.fi--eslint:before        { content: "\ea0f"; top: 3px; font-size: 16px; }
.fi--excel:before         { content: "\e9ee"; top: 2px; }
.fi--fabfile:before       { content: "\e94b"; top: 2px; font-size: 16px; }
.fi--factor:before        { content: "\e96a"; top: 3px; font-size: 18px; left: -2px; transform: scale(1.2); }
.fi--fancy:before         { content: "\e96b"; top: 2px; font-size: 16px; }
.fi--fantom:before        { content: "\e96f"; top: 2px; left: 1px; }
.fi--fbx:before           { content: "\e9fc"; top: 2px; }
.fi--ff:before            { content: "\fb00"; top: 3px; }
.fi--finder:before        { content: "\e9e9"; top: 3px; font-size: 16px; }
.fi--firebase:before      { content: "\ea7f"; top: 2px; }
.fi--firebase-bolt:before { content: "\26A1"; top: 3px; }
.fi--flask:before         { content: "\1f704";top: 2px; }
.fi--flow:before          { content: "\e921"; top: 1px; }
.fi--flux:before          { content: "\e969"; top: 2px; }
.fi--font:before          { content: "\eaaa"; top: 2px; font-size: 16px; @include sharpen(); }
.fi--font-bitmap:before   { content: "\eaab"; top: 2px; }
.fi--fortran:before       { content: "\e90a"; top: 1px; font-size: 14px; left: 1px; }
.fi--franca:before        { content: "\ea56"; top: 2px; }
.fi--freemarker:before    { content: "\e970"; top: 2px; font-size: 16px; left: 1px; }
.fi--frege:before         { content: "\e96e"; top: 2px; font-size: 16px; left: 1px; }
.fi--fuelux:before        { content: "\ea09"; top: 3px; font-size: 16px; left: 2px; transform: scale(1.15); @include sharpen(); }
.fi--gams:before          { content: "\e973"; top: 2px; left: 1px; }
.fi--gap:before           { content: "\e971"; top: 3px; font-size: 16px; left: 1px; }
.fi--gdb:before           { content: "\ea08"; top: 3px; font-size: 16px; transform: scale(1.15); @include sharpen(); }
.fi--genshi:before        { content: "\e976"; top: 3px; }
.fi--gentoo:before        { content: "\e96d"; top: 1px; font-size: 14px; left: 1px; }
.fi--gf:before            { content: "\e978"; top: 2px; }
.fi--gimp:before          { content: "\ea88"; top: 2px; font-size: 17px; transform: scale(1.15); }
.fi--gitlab:before        { content: "\ea3c"; top: 3px; font-size: 16px; }
.fi--glade:before         { content: "\e938"; top: 2px; }
.fi--gltf:before          { content: "\eaa7"; top: 3px; font-size: 17px; }
.fi--glyphs:before        { content: "G";     top: 3px; }
.fi--gml:before           { content: "\e975"; top: 3px; font-size: 16px; }
.fi--gn:before            { content: "\ea25"; top: 2px; }
.fi--gnu:before           { content: "\e679"; top: 2px; font-size: 16px; @include sharpen(); }
.fi--go:before            { content: "\eaae"; top: 4px; font-size: 18px; left: -1px; }
.fi--godot:before         { content: "\e974"; top: 2px; }
.fi--golo:before          { content: "\e979"; top: 2px; }
.fi--gosu:before          { content: "\e97a"; top: 2px; }
.fi--gradle:before        { content: "\e903"; top: 3px; font-size: 16px; left: 1px; }
.fi--graphite:before      { content: "\ea8a"; top: 2px; font-size: 17px; }
.fi--graphql:before       { content: "\e97c"; top: 2px; }
.fi--graphviz:before      { content: "\e97d"; top: 4px; font-size: 17px; left:  1px; }
.fi--groovy:before        { content: "\e904"; top: 4px; font-size: 17px; left: -1px; }
.fi--grunt:before         { content: "\e611"; top: 1px; font-size: 14px; }
.fi--gulp:before          { content: "\e610"; top: 2px; font-size: 16px; }
.fi--hack:before          { content: "\e9ce"; top: 2px; }
.fi--haml:before          { content: "\f15b"; top: 2px; }
.fi--hoplon:before        { content: "\ea4d"; top: 2px; }
.fi--harbour:before       { content: "\e97b"; top: 2px; font-size: 16px; @include sharpen(); }
.fi--hashicorp:before     { content: "\e97e"; top: 2px; }
.fi--haxe:before          { content: "\e907"; top: 2px; }
.fi--haxedevelop:before   { content: "\ea3b"; top: 2px; font-size: 16px; @include thicken(); }
.fi--hg:before            { content: "\263f"; top: 2px; }
.fi--houndci:before       { content: "\eaaf"; top: 2px; }
.fi--hp:before            { content: "\33cb"; top: 2px; }
.fi--hy:before            { content: "\e97f"; top: 2px; }
.fi--kx:before            { content: "\ea9b"; top: 2px; }
.fi--icomoon:before       { content: "\eaea"; top: 2px; }
.fi--idl:before           { content: "\e947"; top: 3px; font-size: 18px; }
.fi--idris:before         { content: "\e983"; top: 2px; font-size: 16px; @include thicken(); }
.fi--igorpro:before       { content: "\e980"; top: 2px; font-size: 16px; @include thicken(); }
.fi--indesign:before      { content: "\e9f4"; top: 2px; }
.fi--infopath:before      { content: "\ea35"; top: 2px; font-size: 16px; }
.fi--inform7:before       { content: "\e984"; top: 2px; font-size: 16px; @include sharpen(); }
.fi--inno:before          { content: "\e985"; top: 2px; }
.fi--imba:before          { content: "\1f4a0";top: 2px; font-size: 16px; }
.fi--io:before            { content: "\e981"; top: 1px; font-size: 13px; @include thicken(); }
.fi--ioke:before          { content: "\e982"; top: 2px; }
.fi--ionic:before         { content: "\f14b"; top: 2px; }
.fi--isabelle:before      { content: "\e945"; top: 2px; font-size: 16px; }
.fi--j:before             { content: "\e937"; top: 1px; font-size: 13px; }
.fi--jade:before          { content: "\e90d"; top: 1px; font-size: 14px; }
.fi--jake:before          { content: "\e948"; top: 3px; font-size: 16px; }
.fi--jasmine:before       { content: "\ea3a"; top: 3px; font-size: 16px; }
.fi--jenkins:before       { content: "\e667"; top: 3px; font-size: 18px; @include sharpen(); }
.fi--jest:before          { content: "\ea39"; top: 2px; }
.fi--jolie:before         { content: "\ea75"; top: 2px; }
.fi--jinja:before         { content: "\e944"; top: 2px; }
.fi--jison:before         { content: "\ea55"; top: 2px; }
.fi--jsonld:before        { content: "\e958"; top: 3px; font-size: 17px; }
.fi--jsx:before           { content: "\e9e6"; top: 1px; font-size: 14px; }
.fi--julia:before         { content: "\26ec"; top: 1px; font-size: 14px; }
.fi--junos:before         { content: "\ea81"; top: 2px; }
.fi--jupyter:before       { content: "\e987"; top: 3px; font-size: 16px; }
.fi--karma:before         { content: "\e9cd"; top: 2px; }
.fi--keynote:before       { content: "\e9e5"; top: 2px; }
.fi--khronos:before       { content: "\e9f8"; top: 2px; }
.fi--kicad:before         { content: "\ea4c"; top: 2px; }
.fi--kitchenci:before     { content: "\ea38"; top: 2px; }
.fi--kivy:before          { content: "\e901"; top: 2px; }
.fi--knockout:before      { content: "\4B";   top: 2px; }
.fi--kotlin:before        { content: "\e989"; top: 1px; font-size: 14px; }
.fi--krl:before           { content: "\e988"; top: 1px; font-size: 14px; }
.fi--labview:before       { content: "\e98a"; top: 2px; font-size: 16px; }
.fi--lasso:before         { content: "\e98c"; top: 2px; left: 1px; }
.fi--leaflet:before       { content: "\ea07"; top: 2px; }
.fi--lean:before          { content: "L";     top: 1px; font-size: 13px; }
.fi--lein:before          { content: "\f105"; top: 3px; font-size: 16px; @include sharpen(); transform: scale(1.15); }
.fi--lerna:before         { content: "\ea37"; top: 2px; font-size: 16px; transform: scale(1.15); }
.fi--lfe:before           { content: "\e94c"; top: 2px; font-size: 16px; }
.fi--lightwave:before     { content: "\e9fb"; top: 2px; }
.fi--lime:before          { content: "\ea36"; top: 2px; font-size: 16px; }
.fi--lisp:before          { content: "\e908"; top: 3px; font-size: 17px; }
.fi--llvm:before          { content: "\e91d"; top: 3px; font-size: 17px; }
.fi--logtalk:before       { content: "\e98d"; top: 2px; @include sharpen(); }
.fi--lookml:before        { content: "\e98e"; top: 2px; font-size: 16px; @include sharpen(); }
.fi--ls:before            { content: "\e914"; top: 2px; font-size: 14px; }
.fi--lsl:before           { content: "\e98b"; top: 1px; }
.fi--lua:before           { content: "\e91b"; top: 2px; font-size: 14px; }
.fi--mako:before          { content: "\e98f"; top: 4px; font-size: 16px; }
.fi--manpage:before       { content: "\e936"; top: 3px; }
.fi--mapbox:before        { content: "\e941"; top: 1px; font-size: 13px; }
.fi--marko:before         { content: "\e920"; top: 4px; font-size: 18px; left: -1px; transform: scale(1.05); }
.fi--markdownlint:before  { content: "\f0c9"; top: 3px; font-size: 17px; transform: scale(1.25); transform-origin: 0 60%; }
.fi--mathematica:before   { content: "\e990"; top: 2px; font-size: 16px; }
.fi--mathjax:before       { content: "\ea06"; top: 2px; }
.fi--matlab:before        { content: "\e991"; top: 2px; }
.fi--max:before           { content: "\e993"; top: 2px; }
.fi--maxscript:before     { content: "\e900"; top: 2px; }
.fi--maya:before          { content: "\e9f6"; top: 2px; font-size: 16px; }
.fi--mdx:before           { content: "\eab7"; top: 3px; font-size: 16px; }
.fi--mediawiki:before     { content: "\e954"; top: 2px; font-size: 16px; }
.fi--mercury:before       { content: "\e994"; top: 3px; font-size: 16px; transform: scale(1.2); }
.fi--meson:before         { content: "\ea54"; top: 2px; }
.fi--metal:before         { content: "M";     top: 1px; left: 1px; }
.fi--meteor:before        { content: "\e6a5"; top: 1px; }
.fi--minecraft:before     { content: "\e9dc"; top: 2px; }
.fi--minizinc:before      { content: "\ea53"; top: 2px; }
.fi--mirah:before         { content: "\e995"; top: 2px; }
.fi--miranda:before       { content: "\ea52"; top: 3px; font-size: 16px; }
.fi--mjml:before          { content: "\ea6f"; top: 2px; }
.fi--mocha:before         { content: "\26fe"; top: 2px; font-size: 17px; }
.fi--model:before         { content: "\e9e8"; top: 2px; font-size: 16px; }
.fi--modula2:before       { content: "\e996"; top: 2px; }
.fi--moment:before        { content: "\1f558";top: 2px; }
.fi--moment-tz:before     { content: "\1f30d";top: 2px; }
.fi--monkey:before        { content: "\e997"; top: 3px; font-size: 18px; left: -1px; }
.fi--mruby:before         { content: "\ea18"; top: 2px; }
.fi--mupad:before         { content: "\e9ca"; top: 3px; font-size: 16px; }
.fi--mustache:before      { content: "\e60f"; top: 2px; font-size: 16px; }
.fi--nailpolish:before    { content: "\1f485";top: 3px; font-size: 16px; left: 1px; }
.fi--nano:before          { content: "\ea76"; top: 2px; }
.fi--nanoc:before         { content: "\ea51"; top: 2px; }
.fi--nant:before          { content: "\e9e1"; top: 3px; transform: scale(1.2); }
.fi--nasm:before          { content: "\ea72"; top: 2px; }
.fi--ndepend:before       { content: "\eab4"; top: 2px; }
.fi--neko:before          { content: "\ea05"; top: 2px; }
.fi--neo4j:before         { content: "\eab3"; top: 2px; }
.fi--netlogo:before       { content: "\e99c"; top: 2px; left: 1px; }
.fi--newrelic:before      { content: "\e9d7"; top: 2px; }
.fi--nextflow:before      { content: "\eaa5"; top: 2px; font-size: 16px; }
.fi--nginx:before         { content:"\f146b"; top: 2px; }
.fi--nib:before           { content: "\2712"; top: 2px; }
.fi--nimrod:before        { content: "\e998"; top: 2px; }
.fi--nit:before           { content: "\e999"; top: 2px; }
.fi--nix:before           { content: "\e99a"; top: 3px; font-size: 16px; }
.fi--nmap:before          { content: "\e94d"; top: 3px; font-size: 16px; transform: scale(1.1); }
.fi--nodemon:before       { content: "\ea26"; top: 2px; }
.fi--nomad:before         { content: "\ea96"; top: 2px; }
.fi--normalize:before     { content: "\ea04"; top: 3px; font-size: 16px; }
.fi--npm:before           { content: "\e91c"; top: 3px; font-size: 17px; }
.fi--nsis:before          { content: "\ea1e"; top: 3px; font-size: 16px; }
.fi--nuclide:before       { content: "\ea34"; top: 2px; }
.fi--nuget:before         { content: "\e9d9"; top: 2px; }
.fi--numpy:before         { content: "\e99d"; top: 2px; font-size: 14px; }
.fi--nunjucks:before      { content: "\e953"; top: 2px; font-size: 16px; }
.fi--nxc:before           { content: "\ea6b"; top: 2px; font-size: 16px; }
.fi--nvidia:before        { content: "\e95d"; top: 2px; }
.fi--objj:before          { content: "\e99e"; top: 2px; }
.fi--ocaml:before         { content: "\e91a"; top: 1px; font-size: 14px; }
.fi--octave:before        { content: "\ea33"; top: 2px; }
.fi--onenote:before       { content: "\e9eb"; top: 2px; }
.fi--ooc:before           { content: "\e9cb"; top: 2px; }
.fi--opa:before           { content: "\2601"; top: 2px; }
.fi--opencl:before        { content: "\e99f"; top: 2px; font-size: 16px; }
.fi--opengl:before        { content: "\ea7a"; top: 3px; font-size: 18px; transform: scale(1.1); }
.fi--openoffice:before    { content: "\e9e4"; top: 2px; }
.fi--org:before           { content: "\e917"; top: 1px; font-size: 14px; left: 1px; }
.fi--owl:before           { content: "\e957"; top: 2px; }
.fi--ox:before            { content: "\e9a1"; top: 3px; font-size: 16px; @include sharpen(); }
.fi--oxygene:before       { content: "\e9bf"; top: 2px; }
.fi--oz:before            { content: "\e9be"; top: 2px; }
.fi--p4:before            { content: "\ea50"; top: 2px; }
.fi--pan:before           { content: "\e9bd"; top: 2px; }
.fi--papyrus:before       { content: "\e9bc"; top: 2px; }
.fi--parrot:before        { content: "\e9bb"; top: 3px; font-size: 16px; }
.fi--pascal:before        { content: "\e92a"; top: 2px; }
.fi--patch:before         { content: "\e961"; top: 2px; }
.fi--pawn:before          { content: "\265f"; top: 1px; font-size: 14px; }
.fi--peg:before           { content: "\ea74"; top: 3px; font-size: 16px; }
.fi--perl6:before         { content: "\e96c"; top: 2px; }
.fi--phalcon:before       { content: "\e94a"; top: 2px; }
.fi--phoenix:before       { content: "\ea5f"; top: 3px; font-size: 17px; transform: scale(1.1); }
.fi--php:before           { content: "\f147"; top: 1px; font-size: 14px; left: 1px; }
.fi--phpunit:before       { content: "\ea32"; top: 2px; }
.fi--pickle:before        { content: "\e9c4"; top: 2px; }
.fi--pike:before          { content: "\e9b9"; top: 4px; font-size: 16px; @include thicken(); transform: scale(1.15); }
.fi--pipenv:before        { content: "\1f381";top: 2px; }
.fi--platformio:before    { content: "\ea2c"; top: 2px; font-size: 16px; }
.fi--pm2:before           { content: "\2630"; top: 3px; }
.fi--pod:before           { content: "\ea84"; top: 2px; left: 1px; }
.fi--pogo:before          { content: "\e9b8"; top: 3px; font-size: 14px; @include thicken(); }
.fi--pointwise:before     { content: "\e977"; top: 2px; }
.fi--polymer:before       { content: "\ea2b"; top: 3px; }
.fi--pony:before          { content: "\e9b7"; top: 3px; font-size: 16px; }
.fi--postcss:before       { content: "\e910"; top: 2px; font-size: 14px; }
.fi--postscript:before    { content: "\e955"; top: 2px; left: 1px; }
.fi--povray:before        { content: "P";     top: 2px; left: 1px; }
.fi--powerbuilder:before  { content: "\ea14"; }
.fi--powerpoint:before    { content: "\e9ec"; top: 2px; }
.fi--powershell:before    { content: "\e9da"; top: 2px; font-size: 16px; }
.fi--premiere:before      { content: "\e9f5"; top: 2px; }
.fi--prettier:before      { content: "\eaa1"; top: 2px; }
.fi--processing:before    { content: "\e9a0"; top: 2px; }
.fi--progress:before      { content: "\e9c0"; top: 2px; font-size: 16px; transform: scale(1.2); }
.fi--proselint:before     { content: "\ea6d"; top: 2px; font-size: 16px; }
.fi--pros:before          { content: "\eaad"; top: 3px; font-size: 16px; }
.fi--propeller:before     { content: "\e9b5"; top: 3px; font-size: 16px; }
.fi--protractor:before    { content: "\e9de"; top: 3px; }
.fi--psd:before           { content: "\e6b8"; top: 2px; }
.fi--pug-alt:before       { content: "\e9d0"; top: 3px; font-size: 16px; }
.fi--pug:before           { content: "\ea13"; top: 3px; font-size: 16px; }
.fi--puppet:before        { content: "\f0c3"; top: 2px; left: 1px; }
.fi--purebasic:before     { content: "\01b5"; top: 2px; }
.fi--purescript:before    { content: "\e9b2"; top: 3px; }
.fi--pullapprove:before   { content: "\293e"; top: 2px; }
.fi--pypi:before          { content: "\ea94"; top: 2px; }
.fi--r:before             { content: "\e905"; top: 3px; font-size: 17px; }
.fi--racket:before        { content: "\e9b1"; top: 2px; left: 1px; }
.fi--raml:before          { content: "\e913"; top: 1px; font-size: 14px; }
.fi--rascal:before        { content: "\ea24"; top: 2px; }
.fi--rdoc:before          { content: "\e9b0"; top: 2px; left: 1px; }
.fi--react:before         { content: "\f100"; top: 2px; }
.fi--reason:before        { content: "\ea1d"; top: 3px; }
.fi--rebol:before         { content: "\e9ae"; top: 1px; font-size: 13px; }
.fi--red:before           { content: "\e9ad"; top: 3px; font-size: 16px; }
.fi--redux:before         { content: "\ea30"; top: 2px; }
.fi--reek:before          { content: "\eaa0"; top: 3px; font-size: 17px; @include sharpen(); }
.fi--regex:before         { content: "*";     top: 1px; font-size: 12px; left: 1px; }
.fi--rexx:before          { content: "\ea16"; top: 2px; font-size: 14px; left: 1px; }
.fi--rhino:before         { content: "\ea4a"; top: 4px; font-size: 16px; left: 1px; transform: scale(1.1); }
.fi--ring:before          { content: "\1f48d";top: 2px; }
.fi--riot:before          { content: "\e919"; top: 4px; font-size: 18px; }
.fi--robot:before         { content: "\e9ac"; top: 2px; font-size: 14px; }
.fi--robots:before        { content: "\1f916";top: 2px; }
.fi--rollup:before        { content: "\ea20"; top: 2px; }
.fi--rspec:before         { content: "\ea31"; top: 3px; font-size: 16px; }
.fi--rst:before           { content: "\e9cc"; top: 3px; font-size: 16px; }
.fi--sage:before          { content: "\e9ab"; top: 3px; font-size: 16px; @include thicken(); }
.fi--saltstack:before     { content: "\e915"; top: 2px; font-size: 14px; }
.fi--sas:before           { content: "\e95a"; top: 2px; }
.fi--sbt:before           { content: "\e9d2"; top: 2px; font-size: 14px; }
.fi--scad:before          { content: "\e911"; top: 2px; font-size: 14px; }
.fi--scd:before           { content: "\e9a2"; top: 2px; }
.fi--scheme:before        { content: "\03bb"; top: 2px; }
.fi--scilab:before        { content: "\e9a9"; top: 3px; font-size: 18px; left: -1px; @include thicken(); }
.fi--scrutinizer:before   { content: "\e9d4"; top: 2px; font-size: 14px; }
.fi--self:before          { content: "\e9a8"; top: 3px; font-size: 16px; @include sharpen(); transform: scale(1.2); }
.fi--serverless:before    { content: "\eab8"; top: 2px; }
.fi--sequelize:before     { content: "\ea2f"; top: 3px; font-size: 16px; }
.fi--sf:before            { content: "\e9db"; top: 2px; }
.fi--shen:before          { content: "\e9a7"; top: 2px; font-size: 16px; }
.fi--shipit:before        { content: "\26f5"; top: 2px; font-size: 16px; transform: scale(1.1); }
.fi--shippable:before     { content: "\ea2d"; top: 2px; }
.fi--shopify:before       { content: "\e9cf"; top: 2px; }
.fi--shuriken:before      { content: "\272b"; top: 2px; font-size: 14px; }
.fi--sigils:before        { content: "\1f764";top: 3px; font-size: 16px; @include sharpen(); }
.fi--silverstripe:before  { content: "\e800"; top: 2px; }
.fi--sketch:before        { content: "\e927"; top: 2px; }
.fi--sketchup-lo:before   { content: "\ea7c"; top: 2px; }
.fi--sketchup-mk:before   { content: "\ea7e"; top: 2px; }
.fi--sketchup-sb:before   { content: "\ea7d"; top: 2px; }
.fi--slash:before         { content: "\e9a6"; top: 2px; }
.fi--snyk:before          { content: "\ea1c"; top: 2px; font-size: 16px; }
.fi--solidity:before      { content: "\ea86"; top: 2px; }
.fi--spacemacs:before     { content: "\eaa4"; top: 2px; }
.fi--sparql:before        { content: "\e959"; top: 2px; }
.fi--sqf:before           { content: "\e9a5"; top: 1px; @include sharpen(); }
.fi--sqlite:before        { content: "\e9dd"; top: 3px; }
.fi--squarespace:before   { content: "\ea5e"; top: 2px; }
.fi--stan:before          { content: "\e9a4"; top: 2px; }
.fi--stata:before         { content: "\e9a3"; top: 2px; }
.fi--stencil:before       { content: "\ea95"; top: 2px; }
.fi--storyist:before      { content: "\e9ef"; top: 2px; font-size: 16px; }
.fi--strings:before       { content: "\e9e0"; top: 2px; }
.fi--stylelint:before     { content: "\e93d"; top: 2px; }
.fi--stylus:before        { content: "s";     top: 2px; left: 1px; }
.fi--sublime:before       { content: "\e986"; top: 2px; }
.fi--svn:before           { content: "\ea17"; top: 2px; }
.fi--swagger:before       { content: "\ea29"; top: 2px; }
.fi--sysverilog:before    { content: "\e9c3"; top: 2px; }
.fi--tag:before           { content: "\f015"; top: 2px; font-size: 14px; }
.fi--tcl:before           { content: "\e956"; top: 2px; font-size: 16px; }
.fi--telegram:before      { content: "\2708"; top: 2px; }
.fi--terminal:before      { content: "\f0c8"; top: 2px; font-size: 14px; }
.fi--tern:before          { content: "\1f54a";top: 4px; font-size: 16px; }
.fi--terraform:before     { content: "\e916"; top: 1px; font-size: 14px; }
.fi--test-coffee:before   { content: "\ea62"; @include test-file(); }
.fi--test-dir:before      { content: "\ea60"; top: 2px; }
.fi--test-generic:before  { content: "\ea63"; @include test-file(); }
.fi--test-js:before       { content: "\ea64"; @include test-file(); }
.fi--test-perl:before     { content: "\ea65"; @include test-file(); }
.fi--test-python:before   { content: "\ea66"; @include test-file(); }
.fi--test-react:before    { content: "\ea67"; @include test-file(); }
.fi--test-ruby:before     { content: "\ea68"; @include test-file(); }
.fi--test-ts:before       { content: "\ea69"; @include test-file(); }
.fi--tex:before           { content: "\e600"; top: 4px; font-size: 16px; @include thicken(); }
.fi--textile:before       { content: "t";     top: 2px; }
.fi--textmate:before      { content: "\2122"; top: 2px; font-size: 16px; }
.fi--thor:before          { content: "\e9d8"; top: 2px; }
.fi--tipe:before          { content: "\eaa9"; top: 3px; font-size: 16px; }
.fi--tla:before           { content: "\eab2"; top: 2px; }
.fi--tmux:before          { content: "\ea8c"; top: 2px; }
.fi--tortoise:before      { content: "\ea93"; top: 3px; font-size: 17px; transform: scale(1.15); }
.fi--ts:before            { content: "\2a6";  top: 1px; font-size: 14px; }
.fi--tsx:before           { content: "\e9e7"; top: 1px; font-size: 14px; }
.fi--tt:before            { content: "T";     top: 2px; }
.fi--turing:before        { content: "\e9b6"; top: 2px; }
.fi--twine:before         { content: "\ea5d"; top: 2px; }
.fi--twig:before          { content: "\2e19"; top: 2px; font-size: 16px; @include sharpen(); }
.fi--txl:before           { content: "\e9c1"; top: 2px; }
.fi--typedoc:before       { content: "\e9fe"; top: 2px; }
.fi--typings:before       { content: "\e9df"; top: 2px; }
.fi--uno:before           { content: "\e9b3"; top: 2px; }
.fi--unreal:before        { content: "u";     top: 2px; }
.fi--urweb:before         { content: "\e9ba"; top: 4px; font-size: 18px; left: -1px; @include sharpen(); }
.fi--v8:before            { content: "\ea1f"; top: 3px; font-size: 16px; }
.fi--v8-turbofan:before   { content: "\eaac"; top: 3px; font-size: 17px; }
.fi--vagrant:before       { content: "V";     top: 2px; font-size: 14px; }
.fi--varnish:before       { content: "\e9b4"; top: 1px; font-size: 14px; }
.fi--verilog:before       { content: "\e949"; top: 2px; }
.fi--vertex:before        { content: "\ea79"; top: 2px; font-size: 16px; }
.fi--vhdl:before          { content: "\e9aa"; top: 2px; }
.fi--video:before         { content: "\f057"; top: 1px; font-size: 14px; }
.fi--virtualbox:before    { content: "\ea3e"; top: 2px; font-size: 16px; }
.fi--visio:before         { content: "\ea83"; top: 2px; }
.fi--vmware:before        { content: "\ea49"; top: 3px; font-size: 16px; @include sharpen(); }
.fi--vue:before           { content: "\e906"; top: 3px; }
.fi--wasm:before          { content: "\ea70"; top: 2px; }
.fi--watchman:before      { content: "\ea4f"; top: 2px; }
.fi--wdl:before           { content: "\eab1"; top: 2px; }
.fi--webgl:before         { content: "\ea7b"; top: 3px; font-size: 18px; transform: scale(1.1); }
.fi--webpack:before       { content: "\ea61"; top: 3px; font-size: 16px; }
.fi--wercker:before       { content: "\ea19"; top: 2px; }
.fi--wix:before           { content: "\eab0"; top: 3px; font-size: 16px; }
.fi--word:before          { content: "\e9ed"; top: 2px; }
.fi--workbox:before       { content: "\eaa8"; top: 2px; }
.fi--xamarin:before       { content: "\ea77"; top: 2px; }
.fi--x10:before           { content: "\2169"; top: 2px; }
.fi--xmos:before          { content: "X";     top: 1px; font-size: 14px; }
.fi--xojo:before          { content: "\e9af"; top: 2px; }
.fi--xpages:before        { content: "\e9c5"; top: 2px; }
.fi--xtend:before         { content: "\e9c6"; top: 2px; }
.fi--yaml:before          { content: "y";     top: 2px; }
.fi--yang:before          { content: "\262f"; top: 2px; }
.fi--yara:before          { content: "\ea9f"; top: 2px; }
.fi--yarn:before          { content: "\ea1a"; top: 2px; font-size: 16px; }
.fi--yui:before           { content: "\ea00"; top: 2px; }
.fi--zbrush:before        { content: "\e9f2"; top: 2px; font-size: 16px; }
.fi--zephir:before        { content: "\e9c7"; top: 2px; @include thicken(); }
.fi--zimpl:before         { content: "\e9c8"; top: 2px; font-size: 16px; left: 1px; }
