@import '../../../library/variables';
@import '../../../theme';

$player-controls-background: $color-night-3;

.player-controls {
    display: flex;
    align-items: center;
    background: $player-controls-background;
    padding: 10px;

    > :first-child {
        margin-left: 0;
    }

    > :last-child {
        margin-right: 0;
    }
}

.player-controls__progress {
    flex: 1;
}

.player-controls__button {
    background: none;
    border: none;
    color: $color-text-base;
    padding: 0;
    margin: 0 5px;

    > * { vertical-align: middle; }
}

.player-controls__icon {
    fill: $color-text-base;
}

.player-controls__icon--active {
    fill: $color-primary;
}

.player-controls__label {
    margin: 0 10px;
}

.player-controls__speed-bar {
    height: 200px;
    position: absolute;
    bottom: 100%;
    background: $player-controls-background;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 6px;
}
