.hexeditor {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
}

.hexeditor__row {
    display: flex;
}

.hexeditor__address {
    padding: 0 1ch;
    background: #313131;
}

.hexeditor__hex {
    margin: 0 2ch 0 1ch;
    position: relative;

    &:before {
        content: '';
        border-left: 1px solid #313131;
        position: absolute;
        height: 100%;
        left: 23.5ch;
    }
}
