$color-night-1: #2E3440;
$color-night-2: #3B4252;
$color-night-3: #434C5E;
$color-night-4: #4C566A;

$color-snow-1: #D8DEE9;
$color-snow-2: #E5E9F0;
$color-snow-3: #ECEFF4;

$color-heart-1: #8FBCBB;
$color-heart-2: #88C0D0;
$color-heart-3: #81A1C1;
$color-heart-4: #5E81AC;

$color-aurora-1: #BF616A;
$color-aurora-2: #D08770;
$color-aurora-3: #EBCB8B;
$color-aurora-4: #A3BE8C;
$color-aurora-5: #B48EAD;

$color-background-dark: $color-night-1;

$color-text-base: $color-snow-3;
$color-text-subtle: $color-snow-2;

$color-primary: $color-heart-2;
$color-secondary: $color-heart-3;
$color-tertiary: $color-heart-4;

$color-error: $color-aurora-1;
$color-warning: $color-aurora-3;
$color-success: $color-aurora-4;
