.gxt-value__variable,
.gxt-value__constant {
    text-decoration: underline;
}

.gxt-value__style--b {
    color: blue;
}

.gxt-value__style--g {
    color: green;
}

.gxt-value__style--h {
    color: white;
}

.gxt-value__style--w {
    color: gray;
}

.gxt-value__style--l {
    color: black;
}

.gxt-value__style--p {
    color: purple;
}

.gxt-value__style--r {
    color: red;
}

.gxt-value__style--y {
    color: yellow;
}
